.app_view {
  background-color: white;
}

.log_box {
  padding: 10px 0px 10px 10px;
}
.log_text text{
}

.redbutton {
    background-color: #f6474f;
    color: white;
    border-color: #f6474f;
}
.greenbutton {
    background-color: #28a745;
    color: white;
    border-color: #28a745;
}

.sync_title {
  font-size: 16px;
  font-weight: bolder;
}

.conf_box {
}

.status_lb {
  font-weight: 500;
  font-size: 30px;
}

.stack-switcher button {
  background: none;
  border: none;
  box-shadow: none;
  color: #666;
  opacity: 0.4;
}
.stack-switcher button:checked {
  opacity: 1;
}

.link_button {
  padding: 5px;
  color: white;
}
